@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/* font-family: 'Monoton', cursive; logo*/


:root {
  --light: #FAF9F9;
  --white: hsl(252, 30%, 100%);
  --light-light: hsl(252, 30%, 95%);
  --gray: hsl(252, 15%, 65%);
  --danger: hsl(0, 95%, 65%);
  --secondary: hsl(252, 100%, 90%);
  --success: hsl(120, 95%, 65%);

  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;

  --border-radius: 2rem;
  --card-border-radius: 1rem
}

*,*::before,*::after{
     margin: 0;
     padding: 0;
     outline: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
     border: none;
}

body{
  /* <!--=======BODY BACKGROUND COLOR========--> */
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image:  radial-gradient(#3139ce 1.2000000000000002px, transparent 1.2000000000000002px), radial-gradient(#3139ce 1.2000000000000002px, #e5e5f7 1.2000000000000002px);
  background-size: 48px 48px;
  background-position: 0 0,24px 24px;
/* <!--=======BODY BACKGROUND COLOR END ========--> */

  font-family: 'Poppins', sans-serif;
  color: rgb(41, 17, 4);
  overflow-x: hidden;
}

.container{
  width: 88%;
  margin: 0 auto;
}


/*=====================Nave Bare START===============*/
nav{
  width: 100%;
  background: var(--light);
  padding: 0.7rem 0;
  top: 0;
  height: 97px;
  left: 0px;
  z-index: 10;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
}
nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .Right_Section{
  display: flex;
  align-items: center;
  gap: 2rem;
}
/*===========LOGO==============*/
nav .container a{
  cursor: pointer;
}
nav .container .logo{
  font-family: 'Monoton', cursive;
  font-size: 30px;
  color: #631919;
  mix-blend-mode: darken;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/*Toggle Switch start*/
.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .5s;
  transition: .5s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*Toggle Switch end*/

/*================Profile Container Star================*/
.profile_container{
  position: relative;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  /* background: var(--link); */
  margin: auto;
}
.profile_container::after{
  content: '';
  position: absolute;
  inset: 6px;
  /* background: #ccc; */
  border: 3px solid rgba(118, 183, 36, 0.51);
  border-radius: 50%;
  z-index: 1;
}
.profile_Avatar{
  position: absolute;
  inset: 17.5px;
  border: 2px solid rgba(66, 66, 119, 0.51);
  z-index: 3;
  border-radius: 50%;

  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.profile_Avatar img {
  display: block;
  width: 100%;
}
/*================Profile Container End================*/

/* <!--===============MARNE SECTION======================--> */
main{
  position: relative;
  top: 5.4rem;
  /* top: 37px; */
}
main .container{
  display: grid;
  grid-template-columns: 18vw auto 21vw;
  /* grid-template-columns: 18vw auto 15vw; */
  /* grid-template-columns: 15vw auto 20vw; */
  column-gap: 3rem;
  position: relative;
}

/* <!--===============MARNE-left SECTION start======================--> */
main .container .left_container{
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left)
}

/* <!--===============SIDEBAR SECTION START======================--> */
.left_container .sidebar{
  margin-top: 3rem;
  background: var(--white);
  border-radius: var(--card-border-radius);
}
.left_container .sidebar .sidebar_menuitems{
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transform: all 300ms ease;
  position: relative;
}
.left_container .sidebar .sidebar_menuitems:hover {
  background: var(--light-light);
}
.left_container .sidebar i{
  font-size: 1.4rem;
  color: var(--gray);
  margin-left: 2rem;
  position: relative;
}
.left_container .sidebar h3{
  margin-left: 1.5rem;
  font-size: 1rem;
}
.left_container .sidebar .active{
  background: var(--light-light);
}

.left_container .sidebar .active i,
.left_container .sidebar .active h3 {
  color: hsl(252, 75%, 60%);
}
.left_container .sidebar .active::before{
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: hsl(252, 75%, 60%);
}
.left_container .sidebar .sidebar_menuitems:first-child.active {
  border-top-left-radius: var( --card-border-radius);
  overflow: hidden;
}
.left_container .sidebar .sidebar_menuitems:last-child.active {
  border-bottom-left-radius: var( --card-border-radius);
  overflow: hidden;
}
/* <!--===============SIDEBAR SECTION END======================--> */

/* <!--===============LOGOUT BUTTEN  SECTION START=====================--> */
.btn{
  box-sizing: border-box;
  position: absolute;
  width: 254px;
  height: 70px;
  left: 1px;
  top: 602px;
  background: linear-gradient(90.31deg, rgba(148, 231, 110, 0.528) 1.51%, rgba(34, 187, 95, 0.42) 98.38%);
  border-bottom: 5px solid rgba(121, 113, 113, 0.86);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: all 300ms ease;
}
.btn i{
  font-size: 1.8rem;
  color: var(--gray);
  margin-left: 2rem;
  position: relative;
}
.btn h3{
  margin-left: 1.5rem;
  font-size: 1rem;
}

.btn:hover{
  background: rgba(110, 206, 64, 0.6);
  border-bottom: 5px solid rgba(121, 113, 113, 0.86);
  box-shadow: 0px 4px 4px rgba(46, 43, 43, 0.46);
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);}

.left_container .btn{
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
/* <!--===============LOGOUT BUTTEN  SECTION END=====================--> */

/*Story Conten*/
.stories-container{
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 3px 24px -8px rgba(0, 0, 0, 0.3);
  width: 700px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  gap: 48px;
  overflow: hidden;
  overflow-x: scroll;
  /* box-sizing: border-box; */
}
.stories-container .content img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 300;
  position: relative;
  vertical-align: middle;
}
.stories-container .content {
  position: relative;
  cursor: pointer;
}
.stories-container .content::before {
  content: "";
  height: 98px;
  width: 98px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}

.stories-container .content::after {
  content: "";
  height: 106px;
  width: 106px;
  background: linear-gradient(#dd2a7b, #f58529);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.story-full {
  background: #222;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 100ms ease;
}

.story-full.active {
  opacity: 1;
  pointer-events: auto;
}

.story-full .close-btn {
  position: fixed;
  right: 81px;
  top: 19px;
  width: 28px;
  cursor: pointer;
  color: aqua;
  font-size: 40px;
}

.story-full .content .left-arrow,
.story-full .content .right-arrow {
  width: 60px;
  cursor: pointer;
  color: aqua;
  font-size: 55px;
}

.story-full .content {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.story-full img {
  height: 90%;
}

.story-full .content .title_Comate {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  /* background: #fff; */
  font-family: "Roboto", sans-serif;
  line-height: 2;
  /* padding: 8px 32px; */
  
}
.story-full .content .title_Comate .text_area{
  
  box-sizing: border-box;

  /* position: absolute; */
  width: 345px;
  height: 47px;
  

}

.Search_bar{
  background: linear-gradient(90.55deg, rgba(238, 230, 230, 0.47) 2.91%, rgba(213, 188, 188, 0.28) 101.28%);
  border: 3px solid #F6E7E7;
  backdrop-filter: blur(2px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
 }

 .Search_bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
 }
 ::placeholder{
  color: #cac7ff;
 }

 .Search_bar button img {
  width: 35px;
  display: inline;
  /* width: 25px; */
  align-items: center;
 }

 .Search_bar button{
  position: relative;
  border: 0;
  border-radius: 20px;
  width: 75px;
  height: 58px;
  background: #D9D9D9;
  cursor: pointer;
  left: -12px;
 }



.container{
  width: 88%;
  margin: 0 auto;
}
main{
  position: relative;
  top: 5.4rem;
  /* top: 37px; */
}
main .container{
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  /* grid-template-columns: 15vw auto 20vw; */
  column-gap: 3rem;
  position: relative;
}


.profile-photo{
  /* width: 2rem;
  height: 2rem; */
  align-self: flex-start;
  border: 3px solid hsl(252, 75%, 60%);
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
img{
  display: block;
  width: 100%;
}

/* feeds */
.middle_container .feeds .feed{
  background: hsl(252, 30%, 100%);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

.middle_container .feeds .feed .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle_container .feeds .feed .top .User_Profile_Deatils{
  display: flex;
  align-items: center;
}
.middle_container .feeds .feed .top .User_Profile_Deatils .profileImg{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  overflow: hidden;
}
.cover{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.middle_container .feeds .feed .top .User_Profile_Deatils h3{
  font-size: 18px;
  color: #4d4d4f;
  font-weight: 700;
  line-height: 1rem;
  cursor: pointer;
}
.middle_container .feeds .feed .top .User_Profile_Deatils span{
  font-size: 0.75em;
}
.middle_container .feeds .feed .top .dot{
  transform: scale(0.6);
  cursor: pointer;
}

.Post_Bg{
  position: relative;
  width: 100%;
  height: 320px;
  margin: 10px 0 15px;

  
  /* .middle_container .feed .photo */
  border-radius: 1rem; 
  overflow: hidden;
  margin: 0.7rem 0;
}

.Media_btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Media_btns img{
  max-width: 24px;
  cursor: pointer;
}
.Media_btns .left{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* font-size: 1.4rem; */
  /* margin: 0.6rem; */
}
.Media_btns .left img{
  margin-right: 8px;
}

.likes{
  margin-top: 5px;
  font-size: 1em;
  color: #4d4d4f;
}

.middle_container .liked-by{
  display: flex;
}

.middle_container .liked-by span{
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid hsl(252, 30%, 100%);
  margin-left: -0.6rem;
}

.middle_container .liked-by span:first-child {
  margin: 0;
}

.middle_container .liked-by p{
  margin-left: 0.5rem;
}



.message{
  font-weight: 400;
  margin-top: 5px;
  color: #777;
  line-height: 1.5em;
}
.message b{
  color: #262626;
}
.message span{
  color: #1d92ff;
  cursor: pointer;
}
.comments{
  margin-top: 10px;
  align-items: center;
  color: #999;
}
.addComments{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.addComments .userImg{
  position: relative;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
.addComments .text{
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  color: #262626;
}
.addComments .text::placeholder{
  color: #777;
}
.postTime{
  margin-top: 10px;
  font-weight: 500;
  color: #777;
}


 
/* <!--===============right SECTION======================--> */
main .container .right_container{
  height: max-content;
  position: sticky;
  top: -18rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 330px;/**/
}
.right_container .Notification{
  background: #FAF9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 1rem;
}
.right_container .Notification .heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.right_container .Notification .heading h4{
  font-weight: bolder;
  font-size: 20px;
  color:#631919;
}
.right_container .Notification i{
  font-size: 1.7rem;
  transform: rotate(9.81deg);
  color:#1d92ff;
}
.right_container .Notification .Break_Line{
  border: 3px solid #222;
  border-radius: 5px;
}
.right_container .friend-requests{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.right_container .friend-requests .req_sell{
  display: flex;
  justify-content: space-between;
}
.right_container .friend-requests .req_sell h4 {
  color: gray;
  margin: 1rem 0;
}
.right_container .friend-requests .req_sell .Sell_all{
  background: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.right_container .friend-requests .req_sell .Sell_all:hover{
  color: gray;
}

.right_container .request{
  background: #D42727;
  padding: 1rem; /**/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 0.7rem;
}
.right_container .request .Cross_sign{
  display: flex;
  position: absolute;
  right: 30px;
  /* top: 159px; */
  cursor: pointer;
}

.right_container .request .Cross_sign img{
  width: 25px;
}
.right_container .request .info{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}
.right_container .request .info h5{
  color: #FFFFFF;
  font-weight: bolder;
  font-size: 20px;
  /* line-height: 17px; */
}
.right_container .request .info p{
  color: #FFFFFF;
  font-size: 16px;
}
.right_container .request .action{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.right_container .request .action .butan{
  /* position: absolute; */
  width: 103px;
  height: 37px;
  /* background: #D9D9D9; */
  border-radius: 15px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  align-items: center;
  
}
.right_container .request .action .btn_A{
  background: #ED4C67;
  border:3px solid #fff;
  color: #e5e5f7;
}
.right_container .request .action .btn_A:hover{
  background: #d2dae2;
  color: #1e272e;
  border:3px solid #575fcf;
}
.right_container .request .action .btn_B:hover{
  background: #ED4C67;
  border:3px solid #fff;
  color: #e5e5f7;
}
.right_container .side-menu__suggestions-section{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.right_container .side-menu__suggestions-section .req_sell{
  display: flex;
  justify-content: space-between;
}
.right_container .side-menu__suggestions-section .req_sell h4 {
  color: gray;
  margin: 1rem 0;
}
.right_container .side-menu__suggestions-section .req_sell .Sell_all{
  background: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.right_container .side-menu__suggestions-section .req_sell .Sell_all:hover{
  color: gray;
}

.right_container .side-menu__suggestions-section .side-menu__suggestions-content{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0 24px;
  padding-left: 4px;
}
.right_container .side-menu__suggestions-section  .side-menu__suggestions-content .side-menu__suggestion{
  display: flex;
  align-items: center;
  background: #D9D9D9;
  border-radius: 5px;
}
.side-menu__suggestion-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
.side-menu__suggestion-avatar::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid hsla(0, 0%, 0%, 0.1);;
  border-radius: 50%;
}
/* .side-menu__suggestion-avatar img{
  max-width: 100%;
} */

.side-menu__suggestion-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    gap: 2px;
}
.side-menu__suggestion-info a{
  font-size: 16px;
  font-weight:bold;
  color: black;
  text-decoration: none;
  text-transform: lowercase;
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.side-menu__suggestion-info span{
  font-size: 12px;
  font-weight: 400;
  color: hsl(0, 0%, 60%);
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
/* .side-menu__suggestion-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: hsl(204, 100%, 48%);
  flex-shrink: 0;
  position: relative;
  top: -24px;
  left: 185px; */

  .follow-button {
    color: #3399FF;
    font-family: "Helvetica";
    font-size: 10pt;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #3399FF;
    border-radius: 3px;
    width: 48px;
    height: 23px;
    /* position: absolute; */
    top: 404px;
    left: 261px;
    cursor:pointer;

      /* flex: 1;
      margin: 10px;
      align-self: center; */
  }

/* <!--===============STORY SECTION======================--> */
@media (max-width: 700px) {
  .stories-container {
    width: 90%;
  }

  .stories-container .content img {
    width: 60px;
    height: 60px;
  }

  .stories-container .content::before {
    height: 70px;
    width: 70px;
  }

  .stories-container .content::after {
    width: 80px;
    height: 80px;
  }

  .story-full .content img {
    height: 65%;
  }
}

  

/* https://iconscout.com/unicons/explore/line  */
/* 481px — 768px */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  .example {background: blue;}
} */
